body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4943 {
  position:absolute;
  left:316px;
  top:111px;
  width:698px;
  height:161px;
}
#u4944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
}
#u4944 {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4945 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
}
#u4946 {
  position:absolute;
  left:0px;
  top:42px;
  width:693px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4947 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u4948 {
  position:absolute;
  left:0px;
  top:84px;
  width:693px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4949 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
}
#u4950 {
  position:absolute;
  left:0px;
  top:114px;
  width:693px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4951 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
