body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4995 {
  position:absolute;
  left:316px;
  top:111px;
  width:698px;
  height:161px;
}
#u4996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
}
#u4996 {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4997 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
}
#u4998 {
  position:absolute;
  left:0px;
  top:42px;
  width:693px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4999 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u5000 {
  position:absolute;
  left:0px;
  top:84px;
  width:693px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u5001 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
}
#u5002 {
  position:absolute;
  left:0px;
  top:114px;
  width:693px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u5003 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
