body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5204 {
  position:absolute;
  left:316px;
  top:111px;
  width:698px;
  height:161px;
}
#u5205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
}
#u5205 {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u5206 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
}
#u5207 {
  position:absolute;
  left:0px;
  top:42px;
  width:693px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u5208 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:30px;
}
#u5209 {
  position:absolute;
  left:0px;
  top:84px;
  width:693px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u5210 {
  position:absolute;
  left:2px;
  top:7px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:42px;
}
#u5211 {
  position:absolute;
  left:0px;
  top:114px;
  width:693px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u5212 {
  position:absolute;
  left:2px;
  top:13px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
