body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:-206px;
  width:1204px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:559px;
}
#u15920 {
  position:absolute;
  left:206px;
  top:72px;
  width:976px;
  height:559px;
}
#u15921 {
  position:absolute;
  left:2px;
  top:272px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15922 {
  position:absolute;
  left:220px;
  top:107px;
  width:863px;
  height:31px;
}
#u15923 {
  position:absolute;
  left:2px;
  top:8px;
  width:859px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15924 {
  position:absolute;
  left:224px;
  top:115px;
  width:85px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15925 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u15924_ann {
  position:absolute;
  left:302px;
  top:111px;
  width:1px;
  height:1px;
}
#u15926 {
  position:absolute;
  left:314px;
  top:115px;
  width:152px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15927 {
  position:absolute;
  left:16px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u15926_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15928 {
  position:absolute;
  left:458px;
  top:115px;
  width:166px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15929 {
  position:absolute;
  left:16px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u15928_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15930 {
  position:absolute;
  left:611px;
  top:115px;
  width:166px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u15931 {
  position:absolute;
  left:16px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u15930_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:73px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15932 {
  position:absolute;
  left:1083px;
  top:115px;
  width:89px;
  height:73px;
}
#u15933 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:58px;
}
#u15934 {
  position:absolute;
  left:1081px;
  top:136px;
  width:88px;
  height:58px;
}
#u15935 {
  position:absolute;
  left:2px;
  top:21px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15936 {
  position:absolute;
  left:977px;
  top:116px;
  width:172px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15937 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u15938 {
  position:absolute;
  left:1099px;
  top:144px;
  width:50px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15938_ann {
  position:absolute;
  left:1142px;
  top:140px;
  width:1px;
  height:1px;
}
#u15939 {
  position:absolute;
  left:1138px;
  top:73px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15939_ann {
  position:absolute;
  left:1162px;
  top:69px;
  width:1px;
  height:1px;
}
#u15940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15940 {
  position:absolute;
  left:284px;
  top:200px;
  width:32px;
  height:14px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15941 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u15942 {
  position:absolute;
  left:224px;
  top:197px;
  width:945px;
  height:365px;
}
#u15943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u15943 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15944 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u15945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:45px;
}
#u15945 {
  position:absolute;
  left:200px;
  top:0px;
  width:740px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15946 {
  position:absolute;
  left:2px;
  top:16px;
  width:736px;
  word-wrap:break-word;
}
#u15947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u15947 {
  position:absolute;
  left:0px;
  top:45px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15948 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u15949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:45px;
}
#u15949 {
  position:absolute;
  left:200px;
  top:45px;
  width:740px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15950 {
  position:absolute;
  left:2px;
  top:16px;
  width:736px;
  word-wrap:break-word;
}
#u15951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u15951 {
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15952 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u15953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:45px;
}
#u15953 {
  position:absolute;
  left:200px;
  top:90px;
  width:740px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15954 {
  position:absolute;
  left:2px;
  top:16px;
  width:736px;
  word-wrap:break-word;
}
#u15955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u15955 {
  position:absolute;
  left:0px;
  top:135px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15956 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u15957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:45px;
}
#u15957 {
  position:absolute;
  left:200px;
  top:135px;
  width:740px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15958 {
  position:absolute;
  left:2px;
  top:16px;
  width:736px;
  word-wrap:break-word;
}
#u15959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u15959 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15960 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u15961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:45px;
}
#u15961 {
  position:absolute;
  left:200px;
  top:180px;
  width:740px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15962 {
  position:absolute;
  left:2px;
  top:16px;
  width:736px;
  word-wrap:break-word;
}
#u15963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u15963 {
  position:absolute;
  left:0px;
  top:225px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15964 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u15965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:45px;
}
#u15965 {
  position:absolute;
  left:200px;
  top:225px;
  width:740px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15966 {
  position:absolute;
  left:2px;
  top:16px;
  width:736px;
  word-wrap:break-word;
}
#u15967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u15967 {
  position:absolute;
  left:0px;
  top:270px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15968 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u15969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:45px;
}
#u15969 {
  position:absolute;
  left:200px;
  top:270px;
  width:740px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15970 {
  position:absolute;
  left:2px;
  top:16px;
  width:736px;
  word-wrap:break-word;
}
#u15971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u15971 {
  position:absolute;
  left:0px;
  top:315px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15972 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u15973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:45px;
}
#u15973 {
  position:absolute;
  left:200px;
  top:315px;
  width:740px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15974 {
  position:absolute;
  left:2px;
  top:16px;
  width:736px;
  word-wrap:break-word;
}
#u15975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u15975 {
  position:absolute;
  left:224px;
  top:240px;
  width:940px;
  height:1px;
}
#u15976 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u15977 {
  position:absolute;
  left:224px;
  top:333px;
  width:940px;
  height:1px;
}
#u15978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u15979 {
  position:absolute;
  left:224px;
  top:376px;
  width:940px;
  height:1px;
}
#u15980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u15981 {
  position:absolute;
  left:224px;
  top:421px;
  width:940px;
  height:1px;
}
#u15982 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15983 {
  position:absolute;
  left:220px;
  top:589px;
  width:952px;
  height:31px;
}
#u15984 {
  position:absolute;
  left:2px;
  top:8px;
  width:948px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#79BB46;
}
#u15985 {
  position:absolute;
  left:1094px;
  top:598px;
  width:70px;
  height:14px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#79BB46;
}
#u15986 {
  position:absolute;
  left:2px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u15987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15987 {
  position:absolute;
  left:223px;
  top:593px;
  width:65px;
  height:22px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15988 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u15989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15989 {
  position:absolute;
  left:881px;
  top:216px;
  width:247px;
  height:14px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15990 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u15991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15991 {
  position:absolute;
  left:881px;
  top:260px;
  width:247px;
  height:14px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15992 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u15993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15993 {
  position:absolute;
  left:881px;
  top:303px;
  width:247px;
  height:14px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15994 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u15995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15995 {
  position:absolute;
  left:881px;
  top:346px;
  width:247px;
  height:14px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15996 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u15997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15997 {
  position:absolute;
  left:881px;
  top:389px;
  width:247px;
  height:14px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15998 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u15999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u15999 {
  position:absolute;
  left:224px;
  top:467px;
  width:940px;
  height:1px;
}
#u16000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u16001 {
  position:absolute;
  left:224px;
  top:510px;
  width:940px;
  height:1px;
}
#u16002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u16003 {
  position:absolute;
  left:224px;
  top:555px;
  width:940px;
  height:1px;
}
#u16004 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16005 {
  position:absolute;
  left:881px;
  top:437px;
  width:247px;
  height:14px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16006 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u16007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16007 {
  position:absolute;
  left:881px;
  top:480px;
  width:247px;
  height:14px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16008 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u16009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16009 {
  position:absolute;
  left:881px;
  top:523px;
  width:247px;
  height:14px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16010 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u16011 {
  position:absolute;
  left:337px;
  top:131px;
  width:715px;
  height:481px;
  overflow:hidden;
  visibility:hidden;
}
#u16011_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:481px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16011_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:174px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16012 {
  position:absolute;
  left:154px;
  top:189px;
  width:367px;
  height:174px;
}
#u16013 {
  position:absolute;
  left:2px;
  top:79px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:141px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16014 {
  position:absolute;
  left:155px;
  top:221px;
  width:365px;
  height:141px;
}
#u16015 {
  position:absolute;
  left:2px;
  top:62px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u16016 {
  position:absolute;
  left:159px;
  top:193px;
  width:22px;
  height:26px;
}
#u16017 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u16018 {
  position:absolute;
  left:184px;
  top:196px;
  width:84px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u16019 {
  position:absolute;
  left:0px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u16020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u16020 {
  position:absolute;
  left:487px;
  top:193px;
  width:25px;
  height:24px;
}
#u16021 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u16022 {
  position:absolute;
  left:215px;
  top:247px;
  width:250px;
  height:50px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u16023 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u16024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16024 {
  position:absolute;
  left:239px;
  top:304px;
  width:72px;
  height:22px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16025 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u16026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16026 {
  position:absolute;
  left:347px;
  top:304px;
  width:72px;
  height:22px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16027 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u16011_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:481px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16011_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:201px;
}
#u16028 {
  position:absolute;
  left:119px;
  top:183px;
  width:454px;
  height:201px;
}
#u16029 {
  position:absolute;
  left:2px;
  top:92px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16030 {
  position:absolute;
  left:522px;
  top:183px;
  width:42px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16031 {
  position:absolute;
  left:302px;
  top:351px;
  width:102px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16032 {
  position:absolute;
  left:241px;
  top:217px;
  width:203px;
  height:22px;
}
#u16032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u16033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16033 {
  position:absolute;
  left:454px;
  top:217px;
  width:39px;
  height:22px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16034 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u16011_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:481px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16011_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:174px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16035 {
  position:absolute;
  left:154px;
  top:189px;
  width:367px;
  height:174px;
}
#u16036 {
  position:absolute;
  left:2px;
  top:79px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:141px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16037 {
  position:absolute;
  left:155px;
  top:221px;
  width:365px;
  height:141px;
}
#u16038 {
  position:absolute;
  left:2px;
  top:62px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u16039 {
  position:absolute;
  left:159px;
  top:193px;
  width:22px;
  height:26px;
}
#u16040 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u16041 {
  position:absolute;
  left:184px;
  top:196px;
  width:84px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u16042 {
  position:absolute;
  left:0px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u16043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u16043 {
  position:absolute;
  left:487px;
  top:193px;
  width:25px;
  height:24px;
}
#u16044 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u16045 {
  position:absolute;
  left:215px;
  top:247px;
  width:250px;
  height:50px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u16046 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u16047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16047 {
  position:absolute;
  left:239px;
  top:304px;
  width:72px;
  height:22px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16048 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u16049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16049 {
  position:absolute;
  left:347px;
  top:304px;
  width:72px;
  height:22px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16050 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u16011_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:481px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16011_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:174px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16051 {
  position:absolute;
  left:154px;
  top:189px;
  width:367px;
  height:174px;
}
#u16052 {
  position:absolute;
  left:2px;
  top:79px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:141px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16053 {
  position:absolute;
  left:155px;
  top:221px;
  width:365px;
  height:141px;
}
#u16054 {
  position:absolute;
  left:2px;
  top:62px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u16055 {
  position:absolute;
  left:159px;
  top:193px;
  width:22px;
  height:26px;
}
#u16056 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u16057 {
  position:absolute;
  left:184px;
  top:196px;
  width:84px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u16058 {
  position:absolute;
  left:0px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u16059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u16059 {
  position:absolute;
  left:487px;
  top:193px;
  width:25px;
  height:24px;
}
#u16060 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u16061 {
  position:absolute;
  left:184px;
  top:255px;
  width:319px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u16062 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u16011_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:481px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16011_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:174px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16063 {
  position:absolute;
  left:154px;
  top:189px;
  width:367px;
  height:174px;
}
#u16064 {
  position:absolute;
  left:2px;
  top:79px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:141px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16065 {
  position:absolute;
  left:155px;
  top:221px;
  width:365px;
  height:141px;
}
#u16066 {
  position:absolute;
  left:2px;
  top:62px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u16067 {
  position:absolute;
  left:159px;
  top:193px;
  width:22px;
  height:26px;
}
#u16068 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u16069 {
  position:absolute;
  left:184px;
  top:196px;
  width:84px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u16070 {
  position:absolute;
  left:0px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u16071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u16071 {
  position:absolute;
  left:487px;
  top:193px;
  width:25px;
  height:24px;
}
#u16072 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u16073 {
  position:absolute;
  left:184px;
  top:255px;
  width:319px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u16074 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u16011_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:481px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16011_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:113px;
}
#u16075 {
  position:absolute;
  left:210px;
  top:189px;
  width:290px;
  height:113px;
}
#u16076 {
  position:absolute;
  left:2px;
  top:48px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:57px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16077 {
  position:absolute;
  left:226px;
  top:229px;
  width:173px;
  height:57px;
}
#u16078 {
  position:absolute;
  left:2px;
  top:20px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u16079 {
  position:absolute;
  left:241px;
  top:236px;
  width:229px;
  height:20px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u16080 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u16081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16081 {
  position:absolute;
  left:270px;
  top:262px;
  width:72px;
  height:22px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16082 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u16083 {
  position:absolute;
  left:468px;
  top:196px;
  width:22px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16011_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:481px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16011_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:474px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16084 {
  position:absolute;
  left:2px;
  top:2px;
  width:710px;
  height:474px;
}
#u16085 {
  position:absolute;
  left:2px;
  top:229px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:441px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16086 {
  position:absolute;
  left:3px;
  top:34px;
  width:708px;
  height:441px;
}
#u16087 {
  position:absolute;
  left:2px;
  top:212px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u16088 {
  position:absolute;
  left:7px;
  top:6px;
  width:22px;
  height:26px;
}
#u16089 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u16090 {
  position:absolute;
  left:32px;
  top:9px;
  width:84px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u16091 {
  position:absolute;
  left:0px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u16092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u16092 {
  position:absolute;
  left:682px;
  top:5px;
  width:25px;
  height:24px;
}
#u16093 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16094 {
  position:absolute;
  left:3px;
  top:34px;
  width:713px;
  height:274px;
}
#u16095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:30px;
}
#u16095 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u16096 {
  position:absolute;
  left:2px;
  top:8px;
  width:704px;
  word-wrap:break-word;
}
#u16097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:30px;
}
#u16097 {
  position:absolute;
  left:0px;
  top:30px;
  width:708px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u16098 {
  position:absolute;
  left:2px;
  top:8px;
  width:704px;
  word-wrap:break-word;
}
#u16099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:30px;
}
#u16099 {
  position:absolute;
  left:0px;
  top:60px;
  width:708px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u16100 {
  position:absolute;
  left:2px;
  top:8px;
  width:704px;
  word-wrap:break-word;
}
#u16101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:30px;
}
#u16101 {
  position:absolute;
  left:0px;
  top:90px;
  width:708px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u16102 {
  position:absolute;
  left:2px;
  top:8px;
  width:704px;
  word-wrap:break-word;
}
#u16103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:30px;
}
#u16103 {
  position:absolute;
  left:0px;
  top:120px;
  width:708px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u16104 {
  position:absolute;
  left:2px;
  top:8px;
  width:704px;
  word-wrap:break-word;
}
#u16105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:29px;
}
#u16105 {
  position:absolute;
  left:0px;
  top:150px;
  width:708px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u16106 {
  position:absolute;
  left:2px;
  top:8px;
  width:704px;
  word-wrap:break-word;
}
#u16107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:30px;
}
#u16107 {
  position:absolute;
  left:0px;
  top:179px;
  width:708px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u16108 {
  position:absolute;
  left:2px;
  top:8px;
  width:704px;
  word-wrap:break-word;
}
#u16109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:30px;
}
#u16109 {
  position:absolute;
  left:0px;
  top:209px;
  width:708px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u16110 {
  position:absolute;
  left:2px;
  top:8px;
  width:704px;
  word-wrap:break-word;
}
#u16111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:30px;
}
#u16111 {
  position:absolute;
  left:0px;
  top:239px;
  width:708px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u16112 {
  position:absolute;
  left:2px;
  top:8px;
  width:704px;
  word-wrap:break-word;
}
#u16113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u16113 {
  position:absolute;
  left:243px;
  top:77px;
  width:134px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u16114 {
  position:absolute;
  left:0px;
  top:2px;
  width:134px;
  word-wrap:break-word;
}
#u16115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16115 {
  position:absolute;
  left:564px;
  top:598px;
  width:239px;
  height:14px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16116 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u16117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16117 {
  position:absolute;
  left:1192px;
  top:73px;
  width:218px;
  height:82px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16118 {
  position:absolute;
  left:10px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u16119_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:50px;
  height:50px;
}
#u16119 {
  position:absolute;
  left:1361px;
  top:125px;
  width:40px;
  height:40px;
}
#u16120 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u16121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:82px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16121 {
  position:absolute;
  left:1192px;
  top:182px;
  width:218px;
  height:82px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16122 {
  position:absolute;
  left:10px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u16123_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:50px;
  height:50px;
}
#u16123 {
  position:absolute;
  left:1370px;
  top:234px;
  width:40px;
  height:40px;
}
#u16124 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u16125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:67px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u16125 {
  position:absolute;
  left:1192px;
  top:287px;
  width:218px;
  height:67px;
}
#u16126 {
  position:absolute;
  left:10px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u16127 {
  position:absolute;
  left:1192px;
  top:321px;
  width:0px;
  height:0px;
}
#u16127_seg0 {
  position:absolute;
  left:-16px;
  top:-4px;
  width:16px;
  height:8px;
}
#u16127_seg1 {
  position:absolute;
  left:-16px;
  top:-59px;
  width:8px;
  height:63px;
}
#u16127_seg2 {
  position:absolute;
  left:-56px;
  top:-59px;
  width:48px;
  height:8px;
}
#u16127_seg3 {
  position:absolute;
  left:-68px;
  top:-73px;
  width:36px;
  height:36px;
}
#u16128 {
  position:absolute;
  left:-62px;
  top:-52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16129 {
  position:absolute;
  left:1135px;
  top:112px;
  width:22px;
  height:22px;
}
#u16130 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16129_ann {
  position:absolute;
  left:1150px;
  top:108px;
  width:1px;
  height:1px;
}
#u16131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16131 {
  position:absolute;
  left:1133px;
  top:432px;
  width:22px;
  height:22px;
}
#u16132 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16133 {
  position:absolute;
  left:1133px;
  top:476px;
  width:22px;
  height:22px;
}
#u16134 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16135 {
  position:absolute;
  left:1133px;
  top:519px;
  width:22px;
  height:22px;
}
#u16136 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16137 {
  position:absolute;
  left:1133px;
  top:344px;
  width:22px;
  height:22px;
}
#u16138 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16139 {
  position:absolute;
  left:1133px;
  top:388px;
  width:22px;
  height:22px;
}
#u16140 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16141 {
  position:absolute;
  left:1133px;
  top:299px;
  width:22px;
  height:22px;
}
#u16142 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16141_ann {
  position:absolute;
  left:1148px;
  top:295px;
  width:1px;
  height:1px;
}
