body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:608px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u5000 {
  position:absolute;
  left:0px;
  top:250px;
  width:608px;
  height:72px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  white-space:nowrap;
}
