body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1481px;
  height:955px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:1481px;
  height:955px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:470px;
  width:1477px;
  word-wrap:break-word;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1238 {
  position:absolute;
  left:243px;
  top:64px;
  width:1238px;
  height:45px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:14px;
  width:1234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:955px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:955px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:470px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:65px;
  background:inherit;
  background-color:rgba(4, 33, 63, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:65px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:24px;
  width:239px;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u1244 {
  position:absolute;
  left:47px;
  top:7px;
  width:153px;
  height:51px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 2px 7px rgba(161, 161, 161, 0.117647058823529);
  -webkit-box-shadow:0px 2px 7px rgba(161, 161, 161, 0.117647058823529);
  box-shadow:0px 2px 7px rgba(161, 161, 161, 0.117647058823529);
}
#u1247 {
  position:absolute;
  left:243px;
  top:0px;
  width:1238px;
  height:64px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:24px;
  width:1234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u1249 {
  position:absolute;
  left:275px;
  top:25px;
  width:21px;
  height:15px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u1251 {
  position:absolute;
  left:1384px;
  top:1px;
  width:51px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u1252 {
  position:absolute;
  left:2px;
  top:22px;
  width:47px;
  word-wrap:break-word;
}
#u1253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1254 {
  position:absolute;
  left:1290px;
  top:14px;
  width:36px;
  height:36px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1256 {
  position:absolute;
  left:1310px;
  top:22px;
  width:8px;
  height:8px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1258 {
  position:absolute;
  left:1243px;
  top:21px;
  width:24px;
  height:24px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:6px;
}
#u1260 {
  position:absolute;
  left:1419px;
  top:31px;
  width:13px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1261 {
  position:absolute;
  left:2px;
  top:-5px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:794px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1263 {
  position:absolute;
  left:274px;
  top:130px;
  width:1176px;
  height:794px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1264 {
  position:absolute;
  left:16px;
  top:16px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1265 {
  position:absolute;
  left:1347px;
  top:20px;
  width:27px;
  height:27px;
  font-size:18px;
  color:#FFFFFF;
}
#u1266 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1267 {
  position:absolute;
  left:0px;
  top:75px;
  width:243px;
  height:55px;
  font-size:15px;
  color:#FFFFFF;
}
#u1267_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1267.selected {
}
#u1268 {
  position:absolute;
  left:2px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1269 {
  position:absolute;
  left:0px;
  top:130px;
  width:243px;
  height:55px;
  font-size:15px;
  color:#FFFFFF;
}
#u1269_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1269.selected {
}
#u1270 {
  position:absolute;
  left:2px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1271 {
  position:absolute;
  left:0px;
  top:185px;
  width:243px;
  height:55px;
  font-size:15px;
  color:#FFFFFF;
}
#u1271_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1271.selected {
}
#u1272 {
  position:absolute;
  left:2px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1273 {
  position:absolute;
  left:0px;
  top:240px;
  width:243px;
  height:55px;
  font-size:15px;
  color:#FFFFFF;
}
#u1273_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1273.selected {
}
#u1274 {
  position:absolute;
  left:2px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1275 {
  position:absolute;
  left:0px;
  top:295px;
  width:243px;
  height:55px;
  font-size:15px;
  color:#FFFFFF;
}
#u1275_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1275.selected {
}
#u1276 {
  position:absolute;
  left:2px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1277 {
  position:absolute;
  left:0px;
  top:350px;
  width:243px;
  height:55px;
  font-size:15px;
  color:#FFFFFF;
}
#u1277_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1277.selected {
}
#u1278 {
  position:absolute;
  left:2px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1279 {
  position:absolute;
  left:0px;
  top:405px;
  width:243px;
  height:55px;
  font-size:15px;
  color:#FFFFFF;
}
#u1279_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1279.selected {
}
#u1280 {
  position:absolute;
  left:2px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1281 {
  position:absolute;
  left:0px;
  top:460px;
  width:243px;
  height:55px;
  font-size:15px;
  color:#FFFFFF;
}
#u1281_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1281.selected {
}
#u1282 {
  position:absolute;
  left:2px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u1283 {
  position:absolute;
  left:1343px;
  top:14px;
  width:100px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1285 {
  position:absolute;
  left:243px;
  top:75px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1285_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1285.selected {
}
#u1286 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1287 {
  position:absolute;
  left:243px;
  top:109px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1287_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1287.selected {
}
#u1288 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1289 {
  position:absolute;
  left:243px;
  top:143px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1289_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1289.selected {
}
#u1290 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1291 {
  position:absolute;
  left:243px;
  top:177px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1291_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1291.selected {
}
#u1292 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1294 {
  position:absolute;
  left:243px;
  top:130px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1294_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1294.selected {
}
#u1295 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1296 {
  position:absolute;
  left:243px;
  top:164px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1296_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1296.selected {
}
#u1297 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1298 {
  position:absolute;
  left:243px;
  top:198px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1298_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1298.selected {
}
#u1299 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1300 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1301 {
  position:absolute;
  left:243px;
  top:185px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1301_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1301.selected {
}
#u1302 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1303 {
  position:absolute;
  left:243px;
  top:219px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1303_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1303.selected {
}
#u1304 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1305 {
  position:absolute;
  left:243px;
  top:253px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1305_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1305.selected {
}
#u1306 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1308 {
  position:absolute;
  left:243px;
  top:240px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1308_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1308.selected {
}
#u1309 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1310 {
  position:absolute;
  left:243px;
  top:274px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1310_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1310.selected {
}
#u1311 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1312 {
  position:absolute;
  left:243px;
  top:308px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1312_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1312.selected {
}
#u1313 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1314 {
  position:absolute;
  left:243px;
  top:342px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1314_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1314.selected {
}
#u1315 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1317 {
  position:absolute;
  left:243px;
  top:295px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1317_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1317.selected {
}
#u1318 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1319 {
  position:absolute;
  left:243px;
  top:329px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1319_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1319.selected {
}
#u1320 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1321 {
  position:absolute;
  left:243px;
  top:363px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1321_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1321.selected {
}
#u1322 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1323 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1324 {
  position:absolute;
  left:243px;
  top:361px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1324_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1324.selected {
}
#u1325 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1327 {
  position:absolute;
  left:243px;
  top:405px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1327_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1327.selected {
}
#u1328 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1329 {
  position:absolute;
  left:243px;
  top:439px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1329_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1329.selected {
}
#u1330 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1332 {
  position:absolute;
  left:243px;
  top:460px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1332_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1332.selected {
}
#u1333 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1334 {
  position:absolute;
  left:243px;
  top:494px;
  width:181px;
  height:34px;
  font-size:12px;
  color:#F2F2F2;
}
#u1334_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u1334.selected {
}
#u1335 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:3px 3px 7px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:3px 3px 7px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:3px 3px 7px rgba(201, 201, 201, 0.349019607843137);
}
#u1337 {
  position:absolute;
  left:1343px;
  top:55px;
  width:120px;
  height:72px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:28px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#797979;
}
#u1339 {
  position:absolute;
  left:1344px;
  top:56px;
  width:118px;
  height:36px;
  font-size:12px;
  color:#797979;
}
#u1339_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(161, 161, 161, 0.8);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#797979;
}
#u1339.mouseOver {
}
#u1340 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#797979;
}
#u1341 {
  position:absolute;
  left:1344px;
  top:91px;
  width:118px;
  height:36px;
  font-size:12px;
  color:#797979;
}
#u1341_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(161, 161, 161, 0.8);
  border:none;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#797979;
}
#u1341.mouseOver {
}
#u1342 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1343 {
  position:absolute;
  left:278px;
  top:71px;
  width:300px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1344 {
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  word-wrap:break-word;
}
