body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:388px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4531 {
  position:absolute;
  left:201px;
  top:49px;
  width:899px;
  height:388px;
}
#u4532 {
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  word-wrap:break-word;
}
#u4533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u4533 {
  position:absolute;
  left:798px;
  top:236px;
  width:24px;
  height:23px;
}
#u4534 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u4535 {
  position:absolute;
  left:879px;
  top:261px;
  width:17px;
  height:18px;
}
#u4536 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
